#RewriteEngine On

# https://www.edoardovignati.it/solved-xmlhttprequest-error-in-flutter-web-is-a-cors-error/
<ifModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Content-Type"
    Header set Referrer-Policy "no-referrer-when-downgrade"
</ifModule>